


body{background-color: yellow;}



#Titular{color: blueviolet;front: size 100px;}

.elemento{
    color: rgb(255, 0, 98);
}

.margenes{
    margin-top: 10px;
}

*{
    border: 1px solid red;
}
#Menu{display: inline;}



.container {
    display: flex;
    flex-wrap: wrap; /*para que los elementos puedan "envolverse" en la siguiente línea*/
    justify-content: center; /*para centrar los elementos horizontalmente*/
    align-items: center; /*para centrar los elementos verticalmente*/
}
.item {
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-basis: 200px; /*para especificar el ancho inicial de los elementos*/
    flex-grow: 1; /*para permitir que los elementos crezcan si hay espacio disponible*/
    flex-shrink: 1; /*para permitir que los elementos se encojan si no hay suficiente espacio*/
    flex-basis: 0; /*para asegurar que los elementos puedan encogerse*/
}